.project
client
server
testy
test_open
test_read
test_write
test_lseek
test_fstat
test.sh~
*.txt
config.h

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
